@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

//font-family: 'Gotham', sans-serif;

@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/Gotham-Bold.eot');
  src: local('☺'), url('../../fonts/Gotham-Bold.woff') format('woff'),
    url('../../fonts/Gotham-Bold.ttf') format('truetype'),
    url('../../fonts/Gotham-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/Gotham-Medium.eot');
  src: local('☺'), url('../../fonts/Gotham-Medium.woff') format('woff'),
    url('../../fonts/Gotham-Medium.ttf') format('truetype'),
    url('../../fonts/Gotham-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

//font-family: 'Gotham-book', sans-serif;
@font-face {
  font-family: 'Gotham-book';
  src: url('../../fonts/Gotham Book Regular.eot');
  src: local('☺'), url('../../fonts/Gotham Book Regular.woff') format('woff'), url('../../fonts/Gotham Book Regular.ttf') format('truetype'), url('../../fonts/Gotham Book Regular.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
