.section-inner {
  max-width: 1170px;
  margin: 0 auto;
}

.section-outer {
  max-width: 1920px;
}

html,
body {
  overflow-x: hidden;
}

html {
  &.lock {
    height: 100%;
  }
}

body {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.title-container {
  position: relative;
  padding: 140px 0;
  &__title {
    font-family: 'Gotham', sans-serif;
    font-size: 37.5px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
  &__back {
    position: absolute;
    font-size: 247px;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    opacity: .15;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}