.section-inner {
  max-width: 1170px;
  margin: 0 auto;
}

.section-outer {
  max-width: 1920px;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

*::before, ::after {
  box-sizing: border-box;
}