.section-quick-row {
  background: #11749e;
  padding: 110px 1% 150px 1%;
  overflow: hidden;
  .section-inner {
    display: flex;
    gap: 5%;
    &._active {
      & > .section-quick-row__item {
        transform: translate(0px, 0px);
      }
    }
  }
  &__item {
    display: flex;
    align-items: center;
    & p {
      font-size: 15px;
      font-family: 'Gotham-book', sans-serif;
      font-weight: 500;
      margin-left: 34px;
      color: #ffffff;
      line-height: 22px;
    }
    &:nth-child(odd) {
      transform: translate(-110%, 0px);
      transition: all 1s ease 0.2s;
    }
    &:nth-of-type(even) {
      transform: translate(110%, 0px);
      transition: all 1s ease 0.2s;
    }
  }
}

@media (max-width: 767px) {
  .section-quick-row {
    padding: 40px 4% 50px 4%;
    .section-inner {
      flex-direction: column;
    }
    &__item:nth-child(1n) {
      transform: translate(0px, 0px);
      text-align: center;
      & img {
        display: none;
      }
      & p {
        margin-left: 0;
      }
      & + .section-quick-row__item {
        margin-top: 70px;
      }
    }
  }
}